<div class="input-text">
  <label for="{{ input-id }}" class="input-text__label">{{ input-label }}</label>
  <input type="text" id="{{ input-id }}" class="input-text__input" placeholder="{{ input-placeholder }}">
</div>