:root {
  --white: hsl(0, 0%, 100%);
  --dark-shade: hsl(0, 0%, 5%);
  --dark: hsl(0, 0%, 25%);
  --dark-glare: hsl(0, 0%, 45%);
  --success-shade: hsl(146, 24%, 44%);
  --success: hsl(146, 24%, 54%);
  --success-glare: hsl(146, 24%, 64%);
  --warning-shade: hsl(11, 84%, 57%);
  --warning: hsl(11, 84%, 67%);
  --warning-glare: hsl(11, 84%, 77%);
}
